@import 'global';

.page-content {
    background-image: linear-gradient(to right top, #3e3e3e, #3c6a88, #00a3b4, #00d997, #c4ff41);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;

    .login-container {
        display: flex;
        margin: auto;
        width: 100%;
    }
}

.section {
    background-color: white;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    color: $color-yellow;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 18px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 18px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 18px -8px rgba(0,0,0,0.75);
}