@import 'global';
@import 'gutters';
@import 'cards';
@import 'inputs';
@import 'buttons';
@import 'message-stack-pane';

body, html {
  padding: 0;
  margin: 0;
  font-family: eCloud, Verdana, serif;
  font-size: 16px;
}

.loading-container {
  position: absolute;
  background-color: white;
  opacity: 0.9;
  z-index: 9998;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .loading-content {
    $color: $color-red;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 20px;
    background-color: $color;
    border: 2px solid darken($color, 30%);
    color: $color-white;
    border-radius: 2px;
    z-index: 9999;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: inherit;
}

@mixin text-align( $side ) {
  .text-#{$side} {
    text-align: #{$side};
  }
}
@include text-align( "left" );
@include text-align( "center" );
@include text-align( "right" );
