
// Button class
.t-button {

  $animation-duration: 1s;

  background: #fafafa;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s;
  position: relative;

  &.with-zoom:active {
    transform: scale3d(0.92,0.92,0.92);
  }

  &.is-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // =========================================================================================================

  // Sizes of the button.
  &.small {
    padding: 5px 15px;
  }

  &.medium {
    padding: 10px 30px;
  }

  &.large {
    padding: 20px 40px;
  }

  &.t-button-inline {
    display: inline-block;
  }

  & > .t-button-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .loading-container-content {
      margin: auto;
      align-items: center;
      display: flex;

      &:after {
        content: " ";
        display: block;
        width: 20px;
        height: 20px;
        margin: auto;
        border-radius: 50%;
        border: 4px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring #{$animation-duration} linear infinite;
      }

    }
  }

  // Loading button
  &.is-loading {
    opacity: 0.5;
    cursor: not-allowed;
    > .t-button-loading {
      display: flex;
    }
    > .t-button-content {
      visibility: hidden;
    }
  }

  > .t-button-loading {
    display: none;
  }
  > .t-button-content {
    visibility: visible;
  }

  // =========================================================================================================

  $darken-percentage: 5;

  // Background styles for the button.
  &.color-red {
    background-color: $color-red;
    color: white;
    &:hover {
      background-color: darken( $color-red, $darken-percentage );
    }
    &:active {
      background-color: darken( $color-red, $darken-percentage + 5 );
    }
  }

  &.color-yellow {
    background-color: $color-yellow;
    color: $color-purple;
    &:hover {
      background-color: darken( $color-yellow, $darken-percentage );
    }
    &:active {
      background-color: darken( $color-yellow, $darken-percentage + 5 );
    }
  }

  &.color-success {
    background-color: $color-success;
    color: white;

    &:hover {
      background-color: darken( $color-success, $darken-percentage );
    }
    &:active {
      background-color: darken( $color-success, $darken-percentage + 5 );
    }
  }

}