@import 'global';

.card {

  // Define variables for the card.
  $root: &;

  $padding-small-t: 5;
  $padding-small-lr: 10;

  $padding-medium-t: 10;
  $padding-medium-lr: 20;

  $padding-large-t: 15;
  $padding-large-lr: 30;

  $padding-xl-t: 20;
  $padding-xl-lr: 35;

  $padding-xxl-t: 25;
  $padding-xxl-lr: 40;

  $padding-small: #{$padding-small-t}px #{$padding-small-lr}px;
  $padding-medium: #{$padding-medium-t}px #{$padding-medium-lr}px;
  $padding-large: #{$padding-large-t}px #{$padding-large-lr}px;
  $padding-xl: #{$padding-xl-t}px #{$padding-xl-lr}px;
  $padding-xxl: #{$padding-xxl-t}px #{$padding-xxl-lr}px;

  width: 100%;
  background: white;
  border-radius: 3px;

  &.card-display-inline-block {
    display: inline-block;
    width: auto;
    margin: auto;
  }

  &.card-small {
    & > .card-header {
      padding: $padding-small;
    }
    & > .card-body {
      padding: $padding-small;
    }
    & > .card-footer {
      padding: $padding-small;
    }
  }
  &.card-medium {
    & > .card-header {
      padding: $padding-medium;
    }
    & > .card-body {
      padding: $padding-small;
    }
    & > .card-footer {
      padding: $padding-small;
    }
  }
  &.card-large {
    & > .card-header {
      padding: $padding-large;
    }
    & > .card-body {
      padding: $padding-small;
    }
    & > .card-footer {
      padding: $padding-small;
    }
  }
  &.card-xl {
    & > .card-header {
      padding: $padding-xl;
    }
    & > .card-body {
      padding: $padding-xl;
    }
    & > .card-footer {
      padding: $padding-xl;
    }
  }
  &.card-xxl {
    & > .card-header {
      padding: $padding-xxl;
    }
    & > .card-body {
      padding: $padding-xxl;
    }
    & > .card-footer {
      padding: $padding-xxl;
    }
  }

  > .card-header {

  }
  > .card-body {

  }
  > .card-footer {
    & > .action-buttons {
      display: flex;
      margin: {
        left: auto;
        right: 0;
      }
      flex-direction: row;
      justify-content: flex-end;
      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

}

// Create color based card.
@mixin create-colored-card( $color-name, $card-theme-color, $percentage ) {
  .card {
    &.card-color-#{$color-name} {
      > .card-header {
        border-bottom: {
          color: lighten( $card-theme-color, $percentage*1%);
          style: solid;
          width: 2px;
        }
      }
      > .card-body:not(:last-child) {
        border-bottom: {
          color: lighten( $card-theme-color, $percentage*1%);
          style: solid;
          width: 2px;
        }
      }
    }
  }
}

// Create cards
@include create-colored-card( "red", $color-red, 40 );