@import 'sizes';

$color-pure-white: #FFFFFF;
$color-purple: #011627;
$color-white: #e9e9e9;
$color-blue: #5e67ff;
$color-red: #e71d36;
$color-yellow: #ff9f1c;
$color-success: #1fac30;
$color-warning: #de8819;
$color-faded: darken($color-white, 25);

@mixin background-color( $name, $clr ) {
  .background-color-#{$name} {
    background-color: #{$clr};
  }
}
@include background-color( "purple", $color-purple );
@include background-color( "white", $color-white );
@include background-color( "pure-white", $color-pure-white );
@include background-color( "blue", $color-blue );
@include background-color( "red", $color-red );
@include background-color( "yellow", $color-yellow );
@include background-color( "success", $color-success );

@mixin text-color( $name, $clr ) {
  .text-color-#{$name} {
    color: #{$clr};
  }
}
@include text-color( "purple", $color-purple );
@include text-color( "white", $color-white );
@include text-color( "pure-white", $color-pure-white );
@include text-color( "blue", $color-blue );
@include text-color( "red", $color-red );
@include text-color( "yellow", $color-yellow );
@include text-color( "success", $color-success );

.text-faded {
  color: $color-faded;
}

$font: eCloud;
@font-face {
  font-family: $font;
  src: url("../fonts/eCloud.ttf");
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

