@import 'media-query';

$i: 0;
@while $i < 50 {
  .margin-t-#{$i} { margin-top: #{$i}px };
  .margin-l-#{$i} { margin-left: #{$i}px };
  .margin-r-#{$i} { margin-right: #{$i}px };
  .margin-b-#{$i} { margin-bottom: #{$i}px };

  @include media-query(mobile) {
    .margin-m-t-#{$i} { margin-top: #{$i}px };
    .margin-m-l-#{$i} { margin-left: #{$i}px };
    .margin-m-r-#{$i} { margin-right: #{$i}px };
    .margin-m-b-#{$i} { margin-bottom: #{$i}px };
  }

  $i: $i + 5;
}

$i: 0;
@while $i < 50 {
  .padding-t-#{$i} { padding-top: #{$i}px };
  .padding-l-#{$i} { padding-left: #{$i}px };
  .padding-r-#{$i} { padding-right: #{$i}px };
  .padding-b-#{$i} { padding-bottom: #{$i}px };

  @include media-query(mobile) {
    .padding-m-t-#{$i} { padding-top: #{$i}px };
    .padding-m-l-#{$i} { padding-left: #{$i}px };
    .padding-m-r-#{$i} { padding-right: #{$i}px };
    .padding-m-b-#{$i} { padding-bottom: #{$i}px };
  }

  $i: $i + 5;
}
