
.t-input {

  $border-width: 2;
  $border-radius: 3;
  $init-border-color: #cdcdcd;
  $init-placeholder-color: #fff30b;

  width: 100%;
  box-sizing: border-box;
  font-family: $font;
  outline: none;
  transition: 0.2s;
  border: {
    radius: #{$border-radius}px;
    width: #{$border-width}px;
    color: $init-border-color;
    style: solid;
  };

  &.small {
    padding: 5px 10px;
  }
  &.medium {
    padding: 10px 15px;
  }
  &.large {
    padding: 15px 20px;
  }

  &:focus {
    border: {
      color: $color-yellow;
    }
  }

  &:active {
    background-color: #FAFAFA;
  }

  &:disabled {
    background-color: #eeeeee;
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:placeholder-shown {
    color: $init-placeholder-color !important;
  }

  // Input styles

  &.type-danger {
    &::placeholder {
      color: $color-red;
    }
    &:focus {
      border: {
        color: $color-red;
      }
    }
  }

  &.type-success {
    &::placeholder {
      color: $color-success;
    }
    &:focus {
      border: {
        color: $color-success;
      }
    }
  }

  &.type-blue {
    &::placeholder {
      color: $color-blue;
    }
    &:focus {
      border: {
        color: $color-blue;
      }
    }
  }

  &.type-purple {
    &::placeholder {
      color: $color-purple;
    }
    &:focus {
      border: {
        color: $color-purple;
      }
    }
  }
}
