
@function contains($list, $var) {
  @return (null == index($list, $var));
}

// Create mixins for the media queries
$breakpoints: (
  mobile:  ( min : 320px, max : 480px ),
  tablet:  ( min : 481px, max: 768px ),
  laptop:  ( min : 769px, max : 1024px ),
  desktop: ( min: 1025px )
);

@mixin media-query($args...) {
  @each $key in $args {
    @if contains($breakpoints, $key) {
      $obj: map-get($breakpoints, $key);
      @if map-has-key($obj, max) {
        @media (min-width: map-get($obj, min)) and (max-width:  map-get($obj, max)){
          @content
        }
      } @else {
        @media (min-width: map-get($obj, min)){
          @content
        }
      }
    }
  }
}

@mixin mobile-devices() {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}

@mixin tablet-devices() {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin small-screen-devices-or-laptops() {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop-devices() {
  @media (min-width: 1025px) {
    @content;
  }
}


