
.message-stack-pane {
  position: fixed;

  &.top-left {
    top: 20px;
    left: 20px;
    .single-message {
      margin-bottom: 10px;
    }
  }

  &.top-center {
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;

    .single-message {
      margin-bottom: 10px;
    }
  }

  &.top-right {
    top: 20px;
    right: 20px;
    .single-message {
      margin-bottom: 10px;
    }
  }

  // Bottom

  &.bottom-right {
    bottom: 20px;
    right: 20px;
    .single-message {
      margin-top: 10px;
    }
  }

  &.bottom-center {
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    .single-message {
      margin-top: 10px;
    }
  }

  &.bottom-left {
    bottom: 20px;
    left: 20px;
    .single-message {
      margin-top: 10px;
    }
  }

  // Message style class
  .single-message {
    display: flex;
    margin: auto;
    width: fit-content;
    -webkit-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 26px -8px rgba(0,0,0,0.75);
    border-radius: 3px;
    position: relative;

    &.auto-destruct {
      animation: {
        name: remove-from-screen !important;
        duration: 0.5s;
        fill-mode: forwards;
      };
    }

    &.animation-started {
      .loading-bar {
        animation: {
          name: time-is-running-out;
          play-state: running;
          fill-mode: forwards;
          iteration-count: initial;
          timing-function: linear;
        }
      }

      &:hover .loading-bar {
        animation: {
          play-state: paused;
        }
      }
    }

    // Danger box
    &.message-type-danger {
      .loading-bar {
        background-color: $color-red;
      }
      .message-icon {
        color: $color-red;
        background-color: lighten( $color-red, 45% );
      }
      .message-close-icon:hover {
        background-color: lighten( $color-red, 45% );
        i {
          transform: scale3d(1.3,1.3,1.3);
          &:active {
            transition: 0s;
            transform: scale3d(1.1,1.1,1.1);
          }
        }
      }
    }
    // Info box
    &.message-type-info {
      $color: $color-blue;
      .loading-bar {
        background-color: $color;
      }
      .message-icon {
        color: $color;
        background-color: lighten( $color, 28% );
        padding: {
          left: 20px;
          right: 20px;
        }
      }
      .message-close-icon:hover {
        background-color: lighten( $color, 30% );
        i {
          transform: scale3d(1.3,1.3,1.3);
          &:active {
            transition: 0s;
            transform: scale3d(1.1,1.1,1.1);
          }
        }
      }
    }
    // Info box
    &.message-type-warning {
      $color: $color-warning;
      .loading-bar {
        background-color: $color;
      }
      .message-icon {
        color: $color;
        background-color: lighten( $color, 49% );
        padding: {
          left: 20px;
          right: 20px;
        }
      }
      .message-close-icon:hover {
        background-color: lighten( $color, 50% );
        i {
          transform: scale3d(1.3,1.3,1.3);
          &:active {
            transition: 0s;
            transform: scale3d(1.1,1.1,1.1);
          }
        }
      }
    }
    // Success box
    &.message-type-success {
      $color: $color-success;
      .loading-bar {
        background-color: $color;
      }
      .message-icon {
        color: $color;
        background-color: lighten( $color, 57% );
        padding: {
          left: 20px;
          right: 20px;
        }
      }
      .message-close-icon:hover {
        background-color: lighten( $color, 50% );
        i {
          transform: scale3d(1.3,1.3,1.3);
          &:active {
            transition: 0s;
            transform: scale3d(1.1,1.1,1.1);
          }
        }
      }
    }

    .loading-bar {
      position: absolute;
      top: 0;
      width: 100%;
      height: 4px;
    }

    .message-icon {
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: center;
      border-right: 1px solid lighten($color-faded, 20%);
    }
    .message-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
    .message-close-icon {
      border-left: 1px solid lighten($color-faded, 20%);
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      color: $color-faded;
      cursor: pointer;
      transition: 0.3s;
      i {
        transition: 0.3s;
      }
    }


    // Animations.
    &.zoom-in {
      animation: {
        name: m-zoom-in;
        delay: 0s;
        duration: 0.5s;
        iteration-count: initial;
        fill-mode: forwards;
      }

      .message-icon, .message-content, .message-close-icon {
        animation: {
          name: show-hide-content;
          delay: 0s;
          duration: 0.7s;
          iteration-count: initial;
          fill-mode: forwards;
        }
      }

    }
  }

}

@keyframes m-zoom-in {
  from {
    transform: scale3d(0.5,0.5,0.5);
    opacity: 0;
  }
  to {
    transform: scale3d(1,1,1);
    opacity: 1;
  }

  0% {
    width: 10%;
    height: 30px;
  }
  30% {
    width: 10%;
  }
  90% {
    width: 100%;
    height: 30px;
  }
  100% {
    width: fit-content;
    height: auto;
  }
}

@keyframes show-hide-content {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes time-is-running-out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes remove-from-screen {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-2000px);
    opacity: 0;
  }

}